*{
     font-family:  sans-serif;
      text-shadow: 3px 3px red;
      font-style: italic;
      font-size: 40px;
}

h3{
    background-color: black;
    color: white;
    text-decoration: underline;
    
}
img{

    background-size: contain;
    background-image: url(https://images.pexels.com/photos/1075747/pexels-photo-1075747.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: repeat-x;
    
}

body{
    background: linear-gradient(red,orange);
}
p{
    background-color:greenyellow;
    color: black;
    font-weight: 600;
    
}
h1{
    background-color:greenyellow;
    color: black;
    font-weight: 600;
    

}


