h2{
    background-color: darkslategray;
    color: white;
    border-color: chartreuse;
    border-width: 5px;
    border-style: solid;
    padding:600px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-decoration: underline;
}
p{
    background-color: darkslategray;
    color: white;
    padding: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
}
